div {

    background-color: grey;

}

p {

    color: red;

}

img {

    border: 20px;

}

.contenu-mixte {

    text-align: center;

}

.contenu-texte {

    font-family: Arial;
    font-size: 18px;
    
}